version: '3.8'

networks:
  default:

services:
   db:
     image: arm64v8/mysql:oracle
     container_name: conference_security
     ports:
       - 3306:3306
     volumes:
       - "./.data/db:/var/lib/mysql"
     environment:
       MYSQL_ROOT_PASSWORD: pass
       MYSQL_DATABASE: conference_security
       
    